In [17]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
from functions import *

import warnings
warnings.filterwarnings('ignore')

In [18]:
risk=pd.read_csv('riskList.csv')
fullrisk=pd.read_csv('fullRiskListSpecial.csv')
nasarisk=pd.read_csv('cneos_sentry_summary_data.csv')

In [19]:
risk = rellenar_tabla(risk,fullrisk)

In [20]:
#Arreglamos la columna Diameter in.
risk.rename(columns={'Diameter\nin m':'Diameter'},inplace=True)
risk['Diameter'].replace(to_replace='\D', value='',regex=True,inplace=True)

In [21]:
columnas_borrar=['No.','TS','In list since in d','IP cum','PS cum']
risk=del_columns(risk,columnas_borrar)

In [14]:
risk['Vel. in km/s']=risk['Vel. in km/s'].round()
risk['Vel. in km/s']=risk['Vel. in km/s'].astype(int)

In [15]:
risk.rename(columns={'IP max':'Probabilidad'},inplace=True)
risk.rename(columns={'Impact Year':'Año'},inplace=True)

In [16]:
risk.to_csv('risk_impact.csv')
risk

,Object designation,Diameter,Impact date/time in UTC,Probabilidad,PS max,Years,Vel. in km/s
0,1979XB,700,2056-12-12 21:39,1/3.5E6,-3.22,2056-2117,28
1,2000SG344,40,2071-09-16 00:57,1/1146,-3.37,2069-2119,11
2,2008JL3,30,2027-05-01 09:06,1/6711,-3.66,2027-2119,14
3,2021GX9,30,2032-04-16 21:51,1/19880,-3.67,2032-2052,20
4,2019VB37,40,2049-04-26 01:30,1/17793,-3.72,2033-2088,18
...,...,...,...,...,...,...,...
1472,2022SJ3,27,2119-04-19 09:04,1/5.99E9,-12.65,2119,19
1473,2022BA7,24,2117-01-27 05:41,1/7.81E9,-13.06,2117,15
1474,2021KQ2,4,2097-05-21 03:05,1/7.94E10,-13.71,2097,11
1475,101955 Bennu,484,2182-09-24 20:24,1/2702,-1.59,2182,13
1476,29075 1950DA,1300,2880-03-16 23:48,1/51020,-2.13,2880,18