In [9]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
from functions import *

import warnings
warnings.filterwarnings('ignore')

In [10]:
na='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/NorthAmerica.html'
sa='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/SouthAmerica.html'
eur='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/Europe.html'
afr='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/Africa.html'
asi='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/AsiaRussia.html'
aus='http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/Australia.html'

name_na=clean_name(na)
country_na=clean_country(na)
name_sa=clean_name(sa)
country_sa=clean_country(sa)
name_eur=clean_name(eur)
country_eur=clean_country(eur)
name_afr=clean_name(afr)
country_afr=clean_country(afr)
name_asi=clean_name(asi)
country_asi=clean_country(asi)
name_aus=clean_name(aus)
country_aus=clean_country(aus)

In [11]:
country_aus = is_australia(country_aus)
country_na = na_country(country_na)

In [12]:
names_world=(name_na+name_sa+name_eur+name_afr+name_asi+name_aus)
country_world=(country_na+country_sa+country_eur+country_afr+country_asi+country_aus)
world_impact=pd.DataFrame()
world_impact['Name']=names_world
world_impact['Country']=country_world

In [13]:
world_impact.to_csv('map_impact.csv')
world_impact

            Name    Country
0           Ames     U.S.A.
1           Avak     U.S.A.
2      Barringer     U.S.A.
3     Beaverhead     U.S.A.
4          Brent     Canada
..           ...        ...
185  Tookoonooka  Australia
186      Veevers  Australia
187  Wolfe Creek  Australia
188    Woodleigh  Australia
189   Yarrabubba  Australia

[190 rows x 2 columns]